@{
    ViewData["Title"] = "Home";
}

<div>
    <div>
        <a class="nav-link text-dark" asp-controller="Home" asp-action="CustomerCases"><i class="fas fa-industry"></i>&nbsp;Customer Cases</a>
    </div>
    <div>
        <a class="nav-link text-dark" href="https://one.kopavogur.is/onecrmprofun/one.aspx">
            <i class="fas fa-cog"></i>&nbsp;OneCRM Profun
        </a>
    </div>
    <div>
        <a class="nav-link text-dark" href="https://one.kopavogur.is/onecrmprofun/addons/oneinternalportal/Default.aspx">
            <i class="fas fa-cog"></i>&nbsp;OnePortal Profun
        </a>
    </div>
    <div>
        <a class="nav-link text-dark" href="http://one/profun/OneCRMWS2/onerecord.asmx">
            <i class="fas fa-cog"></i>&nbsp;OneRecord Endpoint Descriptions
        </a>
    </div>
</div>